 {% block body %}
 
 {% if error %}
     <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
 {% endif %}
 
 <form action="{{ path('app_sign_in') }}" method="post">
     <label for="username">Email:</label>
     <input type="text" id="username" name="_username" value="{{ last_username }}"/>
 
     <label for="password">Password:</label>
     <input type="password" id="password" name="_password" />
  
     <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> 
     
     <button type="submit">login</button>
 </form>
  {% endblock %}